<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/css/home.css">
</head>




<body>


<section id="main">
    <h1>To-do-App</h1>

    <div>
        
        <form action="create" method="post">
           
            <div>
                <div>
                 <p>Description</p> 
                </div>

            <div>
              <input type="text" name="description" placeholder="Enter the description of note here" id="inp">
            </div>
        </div>
         <div id="gon">
            <div>

                <h5>Category</h5>
                <select name="type">
                    <option>School</option>
                    <option>College</option>

                    <option>Office</option>

                    <option>Personal</option>

                </select>
            </div>

            <div>
                <h5>Due Date</h5>
                <input type="date" name="date">
            </div>

            
         </div>

    
         <div id="bts" >
            <button type="submit">
                <i class="fas fa-plus">ADD TASK</i>
            </button>
        </div>

        
    
        </form>



    </div>

</section>

<section id="other">
    <% for(let i of Tasklist){ %>

    <div id="tasks"> 
        <p> <%=i.description %> </p>

          <div id="taskss">
              <i class="fas fa-calendar-alt"></i>
              <p><%=i.date %></p>

              <h2 id="type"><%=i.type%></h2> 
              
              <a href="/delete-task/?id=<%= i.id%>" class="delete"><i class="fas fa-trash"></i></a>
            
            </div>
        
    </div>

        <%}%>
    
</section>



</body>

</html>